<!--
Created by: Hyun Jin Ho
Created Date: 2016-04-30
-->

<header>
    <nav>
        <div class="container-fluid">
            <div class="row">
                <img src="assets/hufs_likelion_logo_final_small.png" class="logo">
                <img src="assets/text_logo.png" class="logo-small">
                <ul class="main-nav js--main-nav">
                    <li><a href="#about">About Likelion</a></li>
                    <li><a href="#members">Members</a></li>
                    <li><a href="#section-review">Review</a></li>
                    <li><a href="#section-apply">Apply</a></li>
                </ul>
                <a class="mobile-nav-icon js--nav-icon"><span class="glyphicon glyphicon-option-horizontal"
                                                              aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </nav>

    <div class="main-text-box">
        <h1>외대 멋쟁이사자차럼</h1>
    </div>
    <%= link_to '로그인', new_user_session_path %>
</header>


<!--
Created by: Heo Jin
Created Date: 2016-04-30
-->
<section class="section-testimonials js--section-features">
    <div class="container-fluid">
        <div class="row">
            <h2>Comments<br>HUFS X likeLion</h2>
        </div>

        <div class="row">
            <div class="col-md-4">
                <!-- <i class="ion-quote"></i> -->
                <blockquote>
                    알다시피 외대에는 컴퓨터 관련 전공은 없어요. 근데 컴퓨터에 관심이 많은 사람들은 분명 있을 거라 생각했죠. 멋사가 그런 사람들을 모아줘서 다행이에요!
                </blockquote>
                <cite><img src="assets/myphoto.jpg" alt="Customer1">&nbsp;&nbsp;허 진</cite>
            </div>
            <div class="col-md-4">
                <!-- <i class="ion-quote"></i> -->
                <blockquote>
                    헤헷~ 저는 개발자에요~ 초급 개발자. 하하^^<br> 앞으로 잘 부탁드립니다!<br><br>
                </blockquote>
                <cite><img src="assets/myphoto.jpg" alt="Customer1">&nbsp;&nbsp;이민구</cite>
            </div>
            <div class="col-md-4">
                <!-- <i class="ion-quote"></i> -->
                <blockquote>
                    저는 엄청난 부귀영화를 포기하고, 개발자의 길을 걸으려 합니다. 그 막막한 시작을 멋사와 함께 할 수 있어 다행이네요.
                </blockquote>
                <cite><img src="assets/myphoto.jpg" alt="Customer1">&nbsp;&nbsp;현진호</cite>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- 여기부터는 ABOUT : 외대 멋사는 어떻게 만들어졌으며 어떤 사람들로 이뤄졌는지, 어떤 것을 지향하는지 -->

<section class="section-features js--section-features" id="features">
    <div class="container-fluid">
          <div class="row">
            <div class = "section-header" style = "background-image :url(https://t2.daumcdn.net/thumb/R1280x0/?fname=http://t2.daumcdn.net/brunch/service/user/2VX/image/FSCwGb3ugPdqyKjGeDOc4Yk99M8); linear-gradient(to bottom right, rgba(0,0,0,0.8),rgba(0,0,0,0.2))"> 
                <div class = "text-vertical-center">
                    <div class = "header-letter">ABOUT<br>HUFS X likeLion</div>
                </div>
            </div>    
            <!--<p class="long-copy">-->
            <div class = "col-sm-12 about-text">
                <p style="font-size:1.5em ; text-align : center ; font-family: " Nanum Gothic",sans-serif">
                마음의 감옥 속에
                </p>
                <p style = "font-size:1.6em ; text-align : center">
                <b>당신의 상상력</b>을 가두지마세요 
                </p>
                <p style="font-size:1.2em ; text-align : center ; font-family: " Nanum Gothic",sans-serif">
                <u>이</u>가 없으면 <u>잇몸</u>으로,<br>
                <u>학과</u>가 없으면, <u>스스로 힘</u>으로,<br>
                </p>
                <p style="font-size:1.3em ; text-align : center ; font-family: " Nanum Gothic",sans-serif">
                <u>인문학적 상상력</u>과 <u>아이디어를</u><br>
                내 손으로 구현할<br>
                <u><b>유일한 대안</b></u>
                </p>
            </div>
        </div>
    </div>    
</section>

<hr>
<!--여기부터 조별 소개 혹은 개인 소개-->

<section class="section-testimonials">
    <div class="container-fluid">
        <div class="row">
            <h2>TEAM PROJECT</br>HUFS X likeLion</h2>
        </div>
        <div class="row">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="assets/1.jpg" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    <div class="item">
                        <img src="assets/2.jpg" alt="...">
                        <div class="carousel-caption">
                            ...
                        </div>
                    </div>
                    ...
                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</section>

<!--
Created by: Chun Sung Jin
Created Date: 2016-04-30
-->
<section class="section-meals">
    <div class="container-fluid">
        <div class="row">
            <h2>멋쟁이 사자들의 일상</h2>
            <h3>항상 열정이 넘치고 앞으로 나아가는 우리</h3>
            <ul class="meals-showcase clearfix">
                <li>

                    <figure class="meal-photo">

                        <img src="assets/1.jpg" alt="Korean bibmbap with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="assets/2.jpg" alt="Simple italian pizza with cherry tomatoes">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="assets/3.jpg" alt="Chicken breast steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="assets/1234.jpg" alt="Autumn pumpkin soup">
                    </figure>
                </li>
            </ul>
            <ul class="meals-showcase clearfix">
                <li>
                    <figure class="meal-photo">
                        <img src="assets/12345.jpg" alt="Paleo beef steak with vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="assets/6.jpg" alt="HEalthy baguette with egg and vegetables">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="assets/7.jpg" alt="Burger with cheddar and bacon">
                    </figure>
                </li>
                <li>
                    <figure class="meal-photo">
                        <img src="assets/8.jpg" alt="Granola with cherries and strawberries">
                    </figure>
                </li>
            </ul>
        </div>
    </div>
</section>

<!--
Created by: Kim Jeong Taek
Created Date: 2016-04-30
-->
<section class="section-review">

    <div class="container-fluid" style="text-align:center">
        <div class="row" style="text-align:center">
            <h2>멋사<sup>4s</sup> 1/3을 지난 시점에서...</h2>
            <h3>한국외대 제 2조</h3>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/lee.png" class="logo-round">
                </a>
                <h3>현진호</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/lee.png" class="logo-round">
                </a>
                <h3>조민철</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/lee.png" class="logo-round">
                </a>
                <h3>허 진</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-sm-4">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/lee.png" class="logo-round">
                </a>
                <h3>이민구</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/lee.png" class="logo-round">
                </a>
                <h3>천승진</h3>
            </div>

            <div class="col-md-4 col-sm-4">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/lee.png" class="logo-round">
                </a>
                <h3>김정택</h3>
            </div>

            <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
            <div class="scroll-top page-scroll visible-xs visible-sm">
                <a class="btn btn-primary" href="#page-top">
                    <i class="fa fa-chevron-up"></i>
                </a>
            </div>

            <!-- Portfolio Modals -->
            <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>현진호</h2>
                                <hr class="star-primary">
                                <img src="assets/lee.png" class="logo-round">
                                <p>Never cook again! We really mean that. Our subscription plans include up to 365
                                    days/year coverage. You can also choose to order more flexibly if that's your
                                    style.</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>조민철</h2>
                                <hr class="star-primary">
                                <img src="assets/lee.png" class="logo-round">
                                <p>Never cook again! We really mean that. Our subscription plans include up to 365
                                    days/year coverage. You can also choose to order more flexibly if that's your
                                    style.</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>허 진</h2>
                                <hr class="star-primary">
                                <img src="assets/lee.png" class="logo-round">
                                <p>Never cook again! We really mean that. Our subscription plans include up to 365
                                    days/year coverage. You can also choose to order more flexibly if that's your
                                    style.</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>이민구</h2>
                                <hr class="star-primary">
                                <img src="assets/lee.png" class="logo-round">
                                <p>Never cook again! We really mean that. Our subscription plans include up to 365
                                    days/year coverage. You can also choose to order more flexibly if that's your
                                    style.</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>천승진</h2>
                                <hr class="star-primary">
                                <img src="assets/lee.png" class="logo-round">
                                <p>Never cook again! We really mean that. Our subscription plans include up to 365
                                    days/year coverage. You can also choose to order more flexibly if that's your
                                    style.</p>
                                <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                        class="fa fa-times"></i> Close
                                </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">
                            <div class="modal-body">
                                <h2>김정택</h2>
                                <hr class="star-primary">
                                <img src="assets/lee.png" class="logo-round">
                                <p>Never cook again! We really mean that. Our subscription plans include up to 365
                                    days/year coverage. You can also choose to order more flexibly if that's your
                                    style.</p>
                                <ul class="list-inline item-details">
                                    <button type="button" class="btn btn-default" data-dismiss="modal"><i
                                            class="fa fa-times"></i> Close
                                    </button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>


        </div>

</section>
<!--
Created by: Cho Min Cheol
Created Date: 2016-04-30
-->
<section class="section-apply" id="section-apply">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="apply-box">
                    <div class="apply-text">지원하기</div>
                    <!--pop up창으로 설정-->
                    <a href="/resumes/index" onclick="window.open(this.href, 'mywin', 'left=20,top=20,width=450,height=300,toolbar=1,resizable=0'); return false;" target="_blank" class="btn btn-default apply-file">apply</a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <img src="assets/text_logo.png" style="height: 20px; width: auto;">
                Copyright &copy; HUFS x Likelion 2016
                <a href="mailto:likelion.hufsseoul@gmail.com">likelion.hufsseoul@gmail.com</a></li>
            </div>
        </div>
    </div>
</footer>
