<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="apply-box">
                <form action="/resumes/index" method="POST">
                  <div class="apply-text">지원하기</div>
                  <div class="apply-file">
                    <button class="btn btn-default" type="submit">apply</button>
                  </div>
                </form> 
            </div>
        </div>
    </div>
</div>

<footer>    
    <div class="row">
        <div class="col-md-12 text-center">
            <h4><strong><img src="assets/hufslogo.png"> HUFS x Likelion <img src="assets/likelion_logo.png"></strong></h4>
                <ul class="list-unstyled">
                    <li><a href="mailto:the7mincheol@naver.com">the7mincheol@naver.com</a></li>
                </ul>
                <p class="text-muted">Copyright &copy; HUFS x Likelion 2016</p>
        </div>
    </div>
</footer>