<header>
    <nav>
        <div class="row">
            <img src="assets/hufs_likelion_logo_final_small.png" class="logo">
            <img src="assets/text_logo.png" alt="Omnifood logo" class="logo-small">
            <ul class="main-nav js--main-nav">
                <li><a href="#about">About Likelion</a></li>
                <li><a href="#members">Members</a></li>
                <li><a href="#apply">Apply</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
</a>
        </div>
    </nav>
    
    <div class="main-text-box">
        <h1>외대 멋쟁이사자차럼</h1>
    </div>
</header>


<section class="section-features js--section-features" id="features">
    <img src="http://crepasnews.com/news/upload/1287384683615.jpg">
</section>


