
<header>
    <nav>
        <div class="row">
            <img src="assets/hufs_likelion_logo_final_small.png" class="logo">
            <img src="assets/text_logo.png" alt="Omnifood logo" class="logo-small">
            <ul class="main-nav js--main-nav">
                <li><a href="#about">About Likelion</a></li>
                <li><a href="#members">Members</a></li>
                <li><a href="#apply">Apply</a></li>
            </ul>
            <a class="mobile-nav-icon js--nav-icon"><span class="glyphicon glyphicon-option-horizontal" aria-hidden="true"></span>
</a>
        </div>
    </nav>
    
    <div class="main-text-box">
        <h1>외대 멋쟁이사자차럼</h1>
    </div>
</header>


<section class="section-features js--section-features" id="features">
    <img src="http://crepasnews.com/news/upload/1287384683615.jpg">
</section>

<section class="section-meals">
    <div class="row">
        <h2>멋쟁이 사자들의 일상</h2>
        <h3>항상 열정이 넘치고 앞으로 나아가는 우리</h3>
        <ul class="meals-showcase clearfix">
            <li> 
            
                <figure class="meal-photo">
                  
                    <img src="assets/1.jpg" alt="Korean bibmbap with egg and vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="assets/2.jpg" alt="Simple italian pizza with cherry tomatoes">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="assets/3.jpg" alt="Chicken breast steak with vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                   <img src="assets/1234.jpg" alt="Autumn pumpkin soup">
                </figure>
            </li>
        </ul>
        <ul class="meals-showcase clearfix">
            <li>
                <figure class="meal-photo">
                    <img src="assets/12345.jpg" alt="Paleo beef steak with vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="assets/6.jpg" alt="HEalthy baguette with egg and vegetables">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="assets/7.jpg" alt="Burger with cheddar and bacon">
                </figure>
            </li>
            <li>
                <figure class="meal-photo">
                    <img src="assets/8.jpg" alt="Granola with cherries and strawberries">
                </figure>
            </li>
        </ul>
    </div>
</section>
    
    
    
>>>>>>> 15f1b7fe27cd70d829c213f32b8031c57d2b7627
>>>>>>> d6c74bfd9d5adadd84b1f211ba311ffef16ecc26
