<form action="/members/post_update" method="post">
    <p>작성자 : <%= @memberspost.user.email %></p>
    <input type="hidden" name="id" value="<%= @memberspost.id %>">
    <p>제목 : <input type="text" name="title" value="<%= @memberspost.title %>"></p>
    <p>내용 : <textarea name="content"><%= @memberspost.content %></textarea></p>
    <p><input type="submit" placeholder="작성"></p>
</form>